<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EJERCICIO CANVAS</title>
</head>
<body> -->
    <div class="container">

        <div class="formulario">
            <input type = "button" class ="boton" id="tareaInput" >

            <form class="formulario" action="">
                <ul class = "arriba"> 
                 <li>
                   <label for="nameS">tarea</label>
                   <input type="text" id="tarea" name="tarea" placeholder="apunta la atarea">
                 </li>

                 <li>
                   <label for="msg">estado</label>
                   <input type="text" id="estado" name="estado">
                 </li>

                 <input type = "button" class ="boton" id="btn-agregar" >esto es el boton                </ul>
               </form>
        </div>

        <div class="columnas">
            <div class = "colApp" id = "lista1">
                <p class = "titulo">to do</p>

                <ul class="listaa" id="lista">
       
                </ul>

                <p><button id = "al2">+</button></p>
            </div>

            <div class = "colApp" id = "lista2">
                <p class = "titulo">in progress</p>
                <p><button id = "vueltaA1">-</button></p>
                <ul class="listaa" id="lista">
                   
                </ul>
                
                <p><button id = "al3">+</button></p>
            </div>

            <div class = "colApp" id="lista3">
                <p class = "titulo">to be tester</p>
                <p><button id = "vueltaA2">-</button></p>
                <ul class="listaa" id="lista">
                    
                </ul>
                <p><button id = "al4">+</button></p>
            </div>

            <div class = "colApp" id = "lista4">
                <p class = "titulo">Done</p>
                <p><button id = "vueltaA3">-</button></p>
                <ul class="listaa" id="lista">
                  
                </ul>
            </div>
        
        </div>
       

    </div>
    <!-- <script src="./script.js"></script>
</body> -->
<!-- </html> -->
